In [281]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import squarify
plt.style.use('seaborn-white')

# Data Preparation

In [282]:
# Creo il dataframe leggendo il file csv
df = pd.read_csv('customer_supermarket.csv', sep='\t')
df.head(3)

,Unnamed: 0,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,0,536365,01/12/10 08:26,"2,55",17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,1,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,2,536365,01/12/10 08:26,"2,75",17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8

In [283]:
# Elimino la colonna chiamata'Unnamed: 0' perché è superflua (alla lettura del dataset, pandas ha già assegnato un indice
# ad ogni riga)
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,536365,01/12/10 08:26,"2,55",17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,536365,01/12/10 08:26,"2,75",17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8

In [284]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471910 entries, 0 to 471909
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BasketID         471910 non-null  object
 1   BasketDate       471910 non-null  object
 2   Sale             471910 non-null  object
 3   CustomerID       406830 non-null  float64
 4   CustomerCountry  471910 non-null  object
 5   ProdID           471910 non-null  object
 6   ProdDescr        471157 non-null  object
 7   Qta              471910 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 28.8+ MB

Da df.info() si nota che le colonne CustomerID e ProdDescr hanno alcuni valori NaN.

### Gestione delle righe duplicate

Nel dataframe df sono presenti delle righe duplicate. Dato che il dataset sembra essere un storico degli acquisti fatti su un sito web, posso supporre che i duplicati siano dovuti ad degli errori e quindi possano essere eliminati. Escludo la possibilità che l'utente possa aggiungere al carrello lo stesso prodotto più volte (come acquisti separati). Ad esempio, su Amazon se si prova ad aggiungere al carrello lo stesso oggetto più volte, viene incrementata la quantità dell'oggetto senza aggiungere un nuovo acquisto.

In [285]:
print("Righe duplicate (esclusa la prima occorrenza) all'interno di df: ", df.duplicated().value_counts()[1])

Righe duplicate (esclusa la prima occorrenza) all'interno di df:  5232

In [286]:
df[df.duplicated()].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
517,536409,01/12/10 11:45,"1,25",17908.0,United Kingdom,21866,UNION JACK FLAG LUGGAGE TAG,1
527,536409,01/12/10 11:45,"2,1",17908.0,United Kingdom,22866,HAND WARMER SCOTTY DOG DESIGN,1
537,536409,01/12/10 11:45,"2,95",17908.0,United Kingdom,22900,SET 2 TEA TOWELS I LOVE LONDON,1

In [287]:
df.drop_duplicates(inplace=True)

Per ogni colonna controllo che i valori siano in formato corretto, diversi da NaN, sensati, ecc.

### CustomerID

Da df.info() si nota che ci sono delle righe con CustomerID = NaN. Dato che l'analisi successiva si concentrerà sull'analisi del comportamento degli utenti, se non è possibile recuperare il CustomerID di queste righe esse andranno eliminate.

Per provare a recuperare questi CustomerID faccio così: per ogni riga $r_1$ con CustomerID = NaN, controllo nel dataframe se esiste una riga $r_2$ con $r_1$.BasketID = $r_2$.BasketID e con $r_2$.CustomerID $\neq$ NaN. Allora, posso assegnare ad $r_1$ il CustomerID di $r_2$.

In [288]:
# null contiene i BasketID delle righe che hanno CustomerID = NaN
null = df[df['CustomerID'].isnull()]['BasketID'].value_counts().index.values

# not_null contiene i BasketID delle righe che hanno CustomerID != NaN
not_null = df[pd.notnull(df['CustomerID'])]['BasketID'].value_counts().index.values

# Questa funzione mi restituisce l'intersezione di due insiemi
def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))

intersection(list(null), list(not_null))

[]

$null \cap not\_null = \emptyset$. Non è possibile recuperare i valori di CustomerID, quindi elimino le righe che hanno CustomerID = NaN.

In [289]:
df.drop(df[df['CustomerID'].isnull()].index, inplace=True)

Controllo se tutti i valori di CustomerID sono dei float senza però la parte decimale (0.0, 1.0, 2.0, ecc.). Se tutti i valori sono senza parte decimale allora posso convertirli in int.

In [290]:
# Conto quante sono i CustomerID senza la parte decimale
df['CustomerID'].apply(float.is_integer).value_counts()

True    401605
Name: CustomerID, dtype: int64

In [291]:
# Numero di righe del dataframe df
df.shape[0]

401605

Tutte le righe hanno CustomerID senza la parte decimale, quindi posso convertirli in int.

In [292]:
df['CustomerID'] = df['CustomerID'].astype(int)

### ProdID

Controllando il dataframe, ho notato che alcune righe non rappresentano degli acquisti.

In [293]:
# isalpha restituisce True se la stringa contiene solo caratteri dell'alfabeto
df[df['ProdID'].apply(str.isalpha)]['ProdID'].value_counts()

POST    1197
M        460
D         77
CRUK      16
DOT       16
PADS       4
Name: ProdID, dtype: int64

Le righe che hanno come ProdID uno tra quelli elencati sopra non rappresentano degli acquisti, quindi le elimino.

In [294]:
# Elimino le righe che hanno come ProdID una stringa (quindi solo quelle elencate sopra)
df = df[df['ProdID'].apply(lambda s: not s.isalpha())]

Controllo se ci sono delle righe che non rappresentano degli acquisti ma hanno ProdID alfanumerici (lo faccio perchè con la funzione isalpha un ProdID = '123AAA' non sarebbe stato trovato).

In [295]:
import re

# Questa funzione mi restituisce True se la stringa contiene almeno una lettera dell'alfabeto, False altrimenti
def search_letters(the_string):
    if re.search('[a-zA-Z]', the_string) is None:
        return False
    return True

df[df['ProdID'].apply(search_letters)]['ProdID'].value_counts().index.values

array(['85123A', '85099B', '82494L', '85099C', '85099F', '84997D',
       '84970S', '47591D', '15056N', '84596B', '47590B', '47590A',
       '85049E', '84970L', '84997B', '84029E', '84029G', '47566B',
       '84997C', '85014B', '84596F', '15056BL', '84030E', '85049A',
       '85014A', '16161P', '84406B', '47559B', '85049G', '84997A',
       '84536A', '85049C', '46000S', '47504K', '48173C', '47503A',
       '16156S', '85199S', '72351B', '84596G', '51014A', '16169E',
       '35471D', '84510A', '47599A', '85034C', '84509A', '75049L',
       '15056P', '85040A', '72760B', '85184C', '72351A', '84032B',
       '16161U', '46000M', 'C2', '85132C', '47567B', '72807C', '85061W',
       '84971S', '51014C', '84078A', '79066K', '85231B', '84535B',
       '85035C', '47599B', '82001S', '84032A', '51014L', '85183B',
       '85071B', '84849D', '85206A', '85049D', '84279P', '84536B',
       '72800E', '15060B', '85032A', '47593B', '72802C', '85071A',
       '85032B', '47504H', '72349B', '85034B', '84519B', '17091J',
       '85049F', '85032C', '85183A', '85036C', '72807B', '72802B',
       '15044A', '84596L', '79191C', '85035A', '85034A', '85049H',
       '85017B', '15044D', '85071C', '72807A', '85159B', '85231G',
       '85199L', '85071D', '84884A', '85185B', '85114C', '15044C',
       '84558A', '84519A', '84459B', '84279B', '72802A', '85132B',
       '85032D', '85194L', '84459A', '84849B', '85194S', '85036A',
       '35004B', '84520B', '15058A', '85232D', '18097C', '35810A',
       '85170D', '85132A', '82616C', '84968A', '47574A', '85114B',
       '79030G', '85130D', '85039B', '85159A', '85135C', '82613D',
       '82616B', '72799E', '84031A', '84968C', '85130B', '85169A',
       '84509B', '15044B', '47310M', '84912B', '79302M', '82613B',
       '17107D', '47563A', '35004C', '84509G', '84559B', '17012D',
       '85130C', '84927F', '85036B', '15058B', '17012C', '85035B',
       '85114A', '17012F', '84559A', '84673B', '72803A', '35809A',
       '35095B', '85039A', '84795B', '85180A', '16258A', '82613C',
       '85040B', '85230B', '85136A', '18098C', '84660A', '84031B',
       '85186A', '84912A', '79051A', '72800B', '84926E', '46000R',
       '79190B', '84508A', '17012B', '85135B', '84596E', '85188A',
       '85186C', '47503H', '37482P', '79190A', '85129D', '84341B',
       '35095A', '84951A', '84569D', '84625C', '84993A', '84625A',
       '47594B', '84951B', '84849A', '84510C', '84926D', '17084N',
       '84968D', '84926A', '79030D', '85124C', '84859A', '47594A',
       '84508B', '85124B', '84968F', '85025C', '72800C', '15058C',
       '84660B', '85170C', '72800D', '85019A', '84507C', '85131A',
       '47578A', '84663A', '47518F', '79191B', '17084R', '84660C',
       '84596J', '47585A', '84931B', '46000U', '85232A', '35001G',
       '16169M', '85230G', '84531A', '84673A', '84569A', '47570B',
       '85205B', '84707A', '35911A', '79190D', '81952V', '35598D',
       '84247E', '85136C', '17012A', '84531B', '90200B', '17091A',
       '35819B', '85169B', '85019B', '84926F', '84313C', '85230E',
       '85170B', '90200D', '35637A', '84924A', '84800L', '84247G',
       '84659A', '84509C', '35810B', '35599B', '84931A', '35598B',
       '85025B', '85169D', '84968E', '16161G', '71101E', '85169C',
       '84859C', '35004G', '84876B', '84563B', '71406C', '72799F',
       '37479P', '85180B', '16168M', '82011C', '17129F', '84985A',
       '84535A', '84508C', '84913B', '77101A', '84806B', '82011B',
       '84086C', '35599D', '51020A', '85027L', '84898F', '90200E',
       '72799C', '35912B', '85163A', '16156L', '85230A', '84247N',
       '84993B', '85179A', '37479B', '84796B', '85160B', '17136A',
       '35818P', '84989A', '37489D', '51020B', '90200A', '72225C',
       '85129B', '90160C', '90058B', '37489A', '84875B', '79144B',
       '84251G', '85232B', '18094C', '84927A', '85163B', '84251B',
       '47348A', '90030B', '47021G', '90161C', '46138B', '35915B',
       '84741C', '84925F', '79063C', '82613A', '84507B', '72801C',
       '84563A', '84708B', '90214A', '37444A', '47343A', '84429A',
       '85023B', '84952B', '84249A', '85049B', '47593A', '17090D',
       '62086A', '90209C', '85131B', '84597C', '84707B', '46775D',
       '84927E', '17084P', '84750B', '90201C', '85039C', '84313B',
       '84661B', 'BANK CHARGES', '84927D', '90209B', '90201A', '72801D',
       '90160A', '90214K', '90201B', '90161B', '85131D', '84876D',
       '85129C', '84800M', '85230F', '85024B', '37489B', '84569B',
       '47341B', '84877D', '17013D', '90162B', '85019C', '47367B',
       '35833P', '90198B', '84712B', '79071B', '84806A', '85131C',
       '85017C', '84709B', '72801G', '84661A', '90184B', '90014A',
       '47351B', '85024C', '85130A', '84859B', '17090A', '84870B',
       '90198A', '84846A', '84796A', '84925D', '84952C', '84706F',
       '47591B', '79063D', '84247K', '90082B', '84800S', '90082A',
       '90199C', '84870C', '90018A', '84913A', '82011A', '84595E',
       '90019A', '85026B', '81952B', '35913B', '72140E', '84510E',
       '17164B', '90161D', '84086B', '81950B', '84751B', '90214C',
       '84877B', '84760S', '84857C', '90201D', '90160D', '79026B',
       '35915C', '84509E', '47013C', '90003D', '84247L', '47586A',
       '37489C', '90014B', '85028S', '90016B', '84711B', '90058A',
       '85185D', '90160B', '85188B', '62096A', '16169K', '90175A',
       '84804A', '79149B', '90123A', '90081A', '90185D', '79191D',
       '46776F', '85086A', '84875D', '90214E', '90185C', '17084J',
       '90030C', '85031A', '90164B', '84874B', '90010E', '90195A',
       '90063A', '90064B', '90206C', '90120C', '90162C', '17165D',
       '85018D', '78034B', '17014A', '90030A', '85168B', '90214G',
       '35607B', '35637C', '16162M', '46776B', '85179C', '85167B',
       '90184C', '90200C', '90177D', '16248B', '90214D', '84711A',
       '75013B', '17084A', '35819P', '37444C', '90214S', '90205A',
       '84910A', '81950V', '90125A', '90186B', '35001W', '40046A',
       '90178A', '44089C', '47344B', '84804B', '46776C', '17011F',
       '90185A', '84984A', '90175C', '90214P', '85135A', '90183A',
       '90081C', '90210B', '90129B', '90002D', '44092C', '47369A',
       '90214H', '90000A', '62043B', '90164A', '16162L', '90161A',
       '46126A', '90003C', '84952A', '90129C', '79144C', '46776A',
       '46776E', '90214J', '90209A', '90214L', '44092B', '72051S',
       '90063B', '90129F', '90010A', '90123C', '90214M', '84534B',
       '90122C', '90185B', '84745A', '90162D', '17109D', '84984B',
       '16207A', '84745B', '84661C', '35815P', '46000P', '90210D',
       '90176D', '47341A', '10124A', '90214N', '90180A', '35638A',
       '90018B', '90036E', '90120B', '71495B', '90125D', '90210C',
       '35916C', '84858C', '84597B', '81953B', '84809A', '90196A',
       '71496A', '84801A', '84575A', '35910A', '90059B', '90190C',
       '18097A', '84984D', '62074B', '85206B', '90036A', '10124G',
       '90214R', '90013C', '47013A', '90123B', '90196B', '90124C',
       '79062D', '90013A', '90124A', '84798A', '72369A', '90003B',
       '90016A', '37462E', '90036D', '90059C', '71496B', '35911B',
       '90184A', '44089A', '90059F', '90082D', '90000D', '90018C',
       '90177C', '85028L', '16202E', '35638B', '90059E', '35591T',
       '40005B', '90205C', '72798C', '47369B', '35916A', '90210A',
       '90211B', '90122A', '90067A', '72024U', '84805A', '62097B',
       '62094B', '84924F', '90125B', '90152A', '16151A', '90124B',
       '90014C', '84803B', '90125C', '37488A', '84801B', '35910B',
       '90024B', '81953P', '90180B', '90060D', '90001D', '90214I',
       '10123C', '90195B', '84750A', '90202C', '90202D', '79323B',
       '84402B', '90003E', '90214Y', '17012E', '35818B', '90202B',
       '90064A', '84206A', '90142D', '90010B', '90026D', '84872A',
       '90130B', '37444B', '79323P', '90065A', '44242B', '35809B',
       '85017A', '79157V', '90199A', '90019C', '90214V', '84706D',
       '90211A', '16207B', '84805B', '44091A', '84613A', '46776D',
       '35909A', '90206A', '90129A', '90186A', '90040C', '90039D',
       '84562A', '17191A', '79192A', '90026B', '90001B', '90001C',
       '84251C', '79151B', '90012B', '47574B', '84873A', '90177A',
       '84857B', '46115B', '35598A', '17007B', '35817P', '90025A',
       '84201B', '90176E', '90059D', '90129D', '16202A', '90176A',
       '90212C', '90163A', '35816P', '90019B', '16020C', '90011B',
       '85136B', '16206B', '90035A', '90123D', '84798B', '90141A',
       '90120D', '90179A', '90012A', '90182C', '35909B', '90214F',
       '90141C', '35598C', '90177E', '16169P', '84732B', '90040A',
       '79157B', '16244B', '35271S', '90189A', '84415A', '84206C',
       '79161A', '90036C', '47556B', '71495A', '37487B', '35597D',
       '90202A', '90177B', '90026C', '90175D', '90141B', '90059A',
       '90214B', '90040B', '84732D', '84968B', '90036B', '84415B',
       '16202B', '90000B', '90199D', '90042A', '90214O', '90141D',
       '90165B', '90035C', '85170A', '90179C', '90176C', '35916B',
       '90128B', '90001A', '84877A', '90181A', '35597B', '85098B',
       '90039C', '90152C', '35610C', '90039A', '37491C', '84569C',
       '90130A', '35610B', '90187B', '90141E', '84802A', '85031B',
       '35610A', '84963B', '90037B', '90011A', '90199B', '44242A',
       '90039B', '90129E', '90214U', '90038A', '37491D', '90197B',
       '84387A', '90024D', '90027A', '16169N', '17028J', '84206B',
       '84809B', '84795C', '37491B', '90025F', '90125E', '79323W',
       '84802B', '62096B', '84705C', '47503J', '90122B', '84614A',
       '90214T', '90060B', '84743C', '35607A', '90214Z', '85023C',
       '90152B', '90024C', '90190B', '90214W', '85031C', '90183C',
       '90024F', '90190A', '90176B', '90038B', '84201C', '84613C',
       '90212B', '90027D', '90026A', '37379A', '90036F', '90178B',
       '90065B', '84856S', '90162A', '90163B', '16161M', '84963A',
       '35597A', '90038C', '35004P'], dtype=object)

Tra i ProdID c'è 'C2', che non rappresenta un acquisto, ma probabilmente una spesa addizionale di spedizione. Quindi elimino le righe in cui ProdID = 'C2.

In [296]:
df[df['ProdID'] == 'C2'].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
1422,536540,01/12/10 14:05,50,14911,EIRE,C2,CARRIAGE,1
10319,537368,06/12/10 12:40,50,14911,EIRE,C2,CARRIAGE,1
10652,537378,06/12/10 13:06,50,14911,EIRE,C2,CARRIAGE,1

In [297]:
df.drop(df[df['ProdID'] == 'C2'].index, inplace=True)

Tra i ProdID c'è 'BANK CHARGES' che non rappresenta un acquisto, quindi elimino le righe in cui ProdID = 'BANK CHARGES'

In [298]:
df.drop(df[df['ProdID'] == 'BANK CHARGES'].index, inplace=True)

### ProdDescr

Controllo se ci sono ancora delle descrizioni = NaN.

In [299]:
print("Numero di righe con descrizione NaN: ", df[df['ProdDescr'].isnull()].shape[0])

Numero di righe con descrizione NaN:  0

### BasketDate

Controllo che tutti i valori della colonna BasketDate siano delle stringhe che rappresentano correttamente delle date.

In [300]:
from dateutil.parser import parse

# Questa funzione controlla se la stringa presa in input rappresenta correttamente una data
def is_date(string, fuzzy=False):
    try: 
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False

# Controllo se tutte i valori di BasketDate sono delle date valide
print(df['BasketDate'].apply(is_date).value_counts())

True    399689
Name: BasketDate, dtype: int64

Tutti i valori rappresentano delle date. Ora controllo se questi valori sono scritti nello stesso formato.

In [301]:
import datetime

def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%d/%m/%y %H:%M')
        return True
    except ValueError:
        return False
    
print(df['BasketDate'].apply(validate).value_counts())

True    399689
Name: BasketDate, dtype: int64

Tutti i valori sono scritti seguendo lo stesso formato (giorno/mese/anno ora:minuto). Infine, converto tutte queste stringhe in formato datetime.

In [302]:
df['BasketDate'] = pd.to_datetime(df['BasketDate'], format="%d/%m/%y %H:%M")

### Sale

I valori della colonna Sale sono delle stringhe che rappresentano dei float, dove al posto del punto è stata usata la virgola.

In [303]:
# Questa funzione converte una stringa nel rispettivo float (3,5 --> 3.5)
def convert_to_float(s):
    comma_pos = s.find(',')
    if comma_pos >= 0:
        s = s[: comma_pos] + '.' + s[comma_pos+1 :]
    return float(s)

df['Sale'] = df['Sale'].apply(convert_to_float)

In [304]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399689 entries, 0 to 471908
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BasketID         399689 non-null  object
 1   BasketDate       399689 non-null  datetime64[ns]
 2   Sale             399689 non-null  float64
 3   CustomerID       399689 non-null  int32
 4   CustomerCountry  399689 non-null  object
 5   ProdID           399689 non-null  object
 6   ProdDescr        399689 non-null  object
 7   Qta              399689 non-null  int64
dtypes: datetime64[ns](1), float64(1), int32(1), int64(1), object(4)
memory usage: 25.9+ MB

Tutte i valori della colonna Sale sono stati convertiti con successo a float64.

Controllo se ci sono delle righe con Sale $\leq$ 0.

In [305]:
df[df['Sale'] <= 0].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
8122,537197,2010-12-05 14:02:00,0.0,12647,Germany,22841,ROUND CAKE TIN VINTAGE GREEN,1
28145,539263,2010-12-16 14:36:00,0.0,16560,United Kingdom,22580,ADVENT CALENDAR GINGHAM SACK,4
32806,539722,2010-12-21 13:45:00,0.0,14911,EIRE,22423,REGENCY CAKESTAND 3 TIER,10

In [306]:
print("Numero di righe con Sale <= 0: ", df[df['Sale'] <= 0].shape[0])

Numero di righe con Sale <= 0:  33

In [307]:
print("Numero di righe con Sale = 0: ", df[df['Sale'] == 0].shape[0])

Numero di righe con Sale = 0:  33

Non ci sono righe con Sale < 0. Mentre le righe con Sale = 0 potrebbero riferirsi a dei prodotti omaggio. Io sono interessato agli acquisti, quindi posso eliminare queste righe.

In [308]:
df.drop(df[df['Sale'] == 0].index, inplace=True)

### CustomerCountry

All'interno del dataframe ci sono delle righe con CustomerCountry = 'Unspecified'.

In [309]:
print("Righe con CustomerCountry = 'Unspecified': ", df[df['CustomerCountry'] == 'Unspecified'].shape[0])

Righe con CustomerCountry = 'Unspecified':  241

In [310]:
df[df['CustomerCountry'] == 'Unspecified'].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
128523,549687,2011-04-11 13:29:00,7.95,12363,Unspecified,20685,DOORMAT RED RETROSPOT,2
128524,549687,2011-04-11 13:29:00,7.95,12363,Unspecified,22691,DOORMAT WELCOME SUNRISE,2
128525,549687,2011-04-11 13:29:00,7.95,12363,Unspecified,48116,DOORMAT MULTICOLOUR STRIPE,2

CustomerCountry = 'Unspecified' potrebbe essere un valore corretto, in quanto l'utente in fase di acquisto non ha voluto specificare lo stato in cui abita (ad esempio per motivi di privacy) e quindi lascio questi valori nel dataframe.

### Qta e BasketID

Controllo se ci sono delle righe che hanno Qta $\leq$ 0.

In [311]:
print("Numero di righe con Qta <= 0: ", df[df['Qta'] <= 0].shape[0])

Numero di righe con Qta <= 0:  8506

In [312]:
print("Numero di righe con Qta < 0: ", df[df['Qta'] < 0].shape[0])

Numero di righe con Qta < 0:  8506

Non ci sono righe con Qta = 0.

In [313]:
df[df['Qta'] < 0].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
154,C536383,2010-12-01 09:49:00,4.65,15311,United Kingdom,35004C,SET OF 3 COLOURED FLYING DUCKS,-1
235,C536391,2010-12-01 10:24:00,1.65,17548,United Kingdom,22556,PLASTERS IN TIN CIRCUS PARADE,-12
236,C536391,2010-12-01 10:24:00,0.29,17548,United Kingdom,21984,PACK OF 12 PINK PAISLEY TISSUES,-24

Controllo se tutte le righe con Qta negativa hanno il BaskeID che inizia con la lettera C.

In [314]:
import re

# Questa funziona mi restituisce True se la stringa presa in input contiene un carattere dell'alfabeto, False altrimenti.
def search_letters(the_string):
    if re.search('[a-zA-Z]', the_string) is None:
        return False
    return True

df[df['Qta'] < 0]['BasketID'].apply(search_letters).value_counts()

True    8506
Name: BasketID, dtype: int64

Tutte le righe con Qta negativa hanno BasketID che inizia con la lettera C. Queste righe sembrano rappresentare degli ordini annullati o dei rimborsi.

Occorre ora gestire i rimborsi, ossia le righe con Qta < 0. I rimborsi vengono gestiti facendo le seguenti assunzioni:
* Per ogni ordine è possibile richiedere al massimo un rimborso.
* Un rimborso può essere applicato ad un ordine solo se la data dell'ordine è antecedente a quella del rimborso, il codice prodotto è lo stesso, il codice cliente è lo stesso e la quantità di oggetti presente nell'ordine è maggiore o uguale alla quantità in valore assoluto degli oggetti indicata nel rimborso.
* Dato un rimborso, se all'interno del dataset non è presente un ordine antecedente a quel rimborso, allora il rimborso non viene considerato.
* Dato un ordine, se ci sono più rimborsi applicabili a questo ordine, si applica quello con la quantità di oggetti in valore assoluto maggiore. Se ci sono due o più rimborsi con la stessa quantità ne uso uno tra questi.

Come prima cosa, mi salvo su un dataframe con tutti i rimborsi e uno con tutti gli acquisti.

In [315]:
rimborsi = df[df['Qta'] < 0]
# Aggiungo una colonna a rimborsi che mi indica se un determinato rimborso è stato utilizzato
lst = list()
for i in range(rimborsi.shape[0]):
    lst.insert(i, False) 
rimborsi = rimborsi.assign(Used=pd.Series(lst).values)

acquisti = df[df['Qta'] > 0]

In [316]:
df[df['CustomerID'] == 17548]

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
235,C536391,2010-12-01 10:24:00,1.65,17548,United Kingdom,22556,PLASTERS IN TIN CIRCUS PARADE,-12
236,C536391,2010-12-01 10:24:00,0.29,17548,United Kingdom,21984,PACK OF 12 PINK PAISLEY TISSUES,-24
237,C536391,2010-12-01 10:24:00,0.29,17548,United Kingdom,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24
238,C536391,2010-12-01 10:24:00,0.29,17548,United Kingdom,21980,PACK OF 12 RED RETROSPOT TISSUES,-24
239,C536391,2010-12-01 10:24:00,3.45,17548,United Kingdom,21484,CHICK GREY HOT WATER BOTTLE,-12
240,C536391,2010-12-01 10:24:00,1.65,17548,United Kingdom,22557,PLASTERS IN TIN VINTAGE PAISLEY,-12
241,C536391,2010-12-01 10:24:00,1.65,17548,United Kingdom,22553,PLASTERS IN TIN SKULLS,-24
139165,550755,2011-04-20 12:01:00,1.25,17548,United Kingdom,22585,PACK OF 6 BIRDY GIFT TAGS,24
139166,550755,2011-04-20 12:01:00,1.65,17548,United Kingdom,22082,RIBBON REEL STRIPES DESIGN,10
139167,550755,2011-04-20 12:01:00,1.65,17548,United Kingdom,22081,RIBBON REEL FLORA + FAUNA,10
139168,550755,2011-04-20 12:01:00,1.65,17548,United Kingdom,22079,RIBBON REEL HEARTS DESIGN,10
139169,550755,2011-04-20 12:01:00,5.95,17548,United Kingdom,22926,IVORY GIANT GARDEN THERMOMETER,4
150026,C552049,2011-05-06 10:00:00,5.95,17548,United Kingdom,22926,IVORY GIANT GARDEN THERMOMETER,-4
150027,C552049,2011-05-06 10:00:00,1.25,17548,United Kingdom,22585,PACK OF 6 BIRDY GIFT TAGS,-24
150028,C552049,2011-05-06 10:00:00,1.65,17548,United Kingdom,22082,RIBBON REEL STRIPES DESIGN,-10
150029,C552049,2011-05-06 10:00:00,1.65,17548,United Kingdom,22081,RIBBON REEL FLORA + FAUNA,-10
150030,C552049,2011-05-06 10:00:00,1.65,17548,United Kingdom,22079,RIBBON REEL HEARTS DESIGN,-10

In [317]:
# Mi creo un insieme che contiene i CustomerID dei clienti che hanno richiesto almeno un rimborso
set_customer_id_rimborsi = set(list(rimborsi['CustomerID'].values))

# Mi creo un dataframe che contiene solo le righe che si riferiscono ai clienti che hanno richiesto un rimborso
acquisti_rimborsabili = acquisti[acquisti['CustomerID'].isin(set_customer_id_rimborsi)]

# Dizionario dove ogni coppia (chiave,valore) è (CustomerID x, rimborsi con CustomerID x)
dictonary_rimborsi = dict()

# Popolo il dizionario
for row in rimborsi.itertuples():
    customer_id = getattr(row, 'CustomerID')
    # Se ho già inserito i rimborsi relativi ad un CustomerID nel dizionario
    if customer_id in dictonary_rimborsi:
        continue
    # Inserisco la nuova coppia (chiave, valore) all'interno del dizionario
    
    dictonary_rimborsi[customer_id] = rimborsi[rimborsi['CustomerID'] == customer_id]
    
def update_row(row, dictonary_rimborsi):
    customer_id = row['CustomerID']
    qta = row['Qta']
    if customer_id not in dictonary_rimborsi:
        return qta
    basket_date = row['BasketDate']
    prod_id = row['ProdID']
    # Questo dataframe contiene tutti i rimborsi aventi CustomerID = customer_id
    rimborsi_customer = dictonary_rimborsi[customer_id]
    # Mi interessano solo i rimborsi che rispettano le assunzioni fatte sopra
    # Inoltre il rimborso non deve essere già stato usato in precedenza
    rimborsi_applicabili = rimborsi_customer[(rimborsi_customer['ProdID'] == prod_id) & (rimborsi_customer['BasketDate'] >= basket_date) & (abs(rimborsi_customer['Qta']) <= qta) & (rimborsi_customer['Used'] == False)]
    # Se non ci sono rimborsi applicabili per questo specifico ordine
    if rimborsi_applicabili.shape[0] == 0:
        return qta
    qta_min = rimborsi_applicabili['Qta'].min()
    # Prendo la riga che corrisponde al rimborso che ho appena effettuato
    rimborso = rimborsi_applicabili[rimborsi_applicabili['Qta'] == qta_min].iloc[0]
    rimborso['Used'] = True
    return qta + qta_min

qta_updated = acquisti_rimborsabili.apply(lambda row: update_row(row, dictonary_rimborsi), axis=1)

In [334]:
acquisti_rimborsabili.drop(['Qta'], axis=1, inplace=True)

C:\Users\Matteo\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [336]:
acquisti_rimborsabili = acquisti_rimborsabili.assign(Qta=qta_updated)