In [98]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import squarify
plt.style.use('seaborn-white')

# Data Preparation

In [99]:
# Creo il dataframe leggendo il file csv
df = pd.read_csv('customer_supermarket.csv', sep='\t')
df.head(3)

,Unnamed: 0,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,0,536365,01/12/10 08:26,"2,55",17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,1,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,2,536365,01/12/10 08:26,"2,75",17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8

In [100]:
# Elimino la colonna chiamata'Unnamed: 0' perché è superflua (alla lettura del dataset, pandas ha già assegnato un indice
# ad ogni riga)
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,536365,01/12/10 08:26,"2,55",17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,01/12/10 08:26,"3,39",17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,536365,01/12/10 08:26,"2,75",17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471910 entries, 0 to 471909
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BasketID         471910 non-null  object
 1   BasketDate       471910 non-null  object
 2   Sale             471910 non-null  object
 3   CustomerID       406830 non-null  float64
 4   CustomerCountry  471910 non-null  object
 5   ProdID           471910 non-null  object
 6   ProdDescr        471157 non-null  object
 7   Qta              471910 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 28.8+ MB

Da df.info() si nota che le colonne CustomerID e ProdDescr hanno alcuni valori NaN.

### Gestione delle righe duplicate

Nel dataframe df sono presenti delle righe duplicate. Dato che il dataset sembra essere un storico degli acquisti fatti su un sito web, posso supporre che i duplicati siano dovuti ad degli errori e quindi possano essere eliminati. Escludo la possibilità che l'utente possa aggiungere al carrello lo stesso prodotto più volte (come acquisti separati). Ad esempio, su Amazon se si prova ad aggiungere al carrello lo stesso oggetto più volte, viene incrementata la quantità dell'oggetto senza aggiungere un nuovo acquisto.

In [102]:
print("Righe duplicate (esclusa la prima occorrenza) all'interno di df: ", df.duplicated().value_counts()[1])

Righe duplicate (esclusa la prima occorrenza) all'interno di df:  5232

In [103]:
df[df.duplicated()].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
517,536409,01/12/10 11:45,"1,25",17908.0,United Kingdom,21866,UNION JACK FLAG LUGGAGE TAG,1
527,536409,01/12/10 11:45,"2,1",17908.0,United Kingdom,22866,HAND WARMER SCOTTY DOG DESIGN,1
537,536409,01/12/10 11:45,"2,95",17908.0,United Kingdom,22900,SET 2 TEA TOWELS I LOVE LONDON,1

In [104]:
df.drop_duplicates(inplace=True)

Per ogni colonna controllo che i valori siano in formato corretto, diversi da NaN, sensati, ecc.

### CustomerID

Da df.info() si nota che ci sono delle righe con CustomerID = NaN. Dato che l'analisi successiva si concentrerà sull'analisi del comportamento degli utenti, se non è possibile recuperare il CustomerID di queste righe esse andranno eliminate.

Per provare a recuperare questi CustomerID faccio così: per ogni riga $r_1$ con CustomerID = NaN, controllo nel dataframe se esiste una riga $r_2$ con $r_1$.BasketID = $r_2$.BasketID e con $r_2$.CustomerID $\neq$ NaN. Allora, posso assegnare ad $r_1$ il CustomerID di $r_2$.

In [105]:
# null contiene i BasketID delle righe che hanno CustomerID = NaN
null = df[df['CustomerID'].isnull()]['BasketID'].value_counts().index.values

# not_null contiene i BasketID delle righe che hanno CustomerID != NaN
not_null = df[pd.notnull(df['CustomerID'])]['BasketID'].value_counts().index.values

# Questa funzione mi restituisce l'intersezione di due insiemi
def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2))

intersection(list(null), list(not_null))

[]

$null \cap not\_null = \emptyset$. Non è possibile recuperare i valori di CustomerID, quindi elimino le righe che hanno CustomerID = NaN.

In [106]:
df.drop(df[df['CustomerID'].isnull()].index, inplace=True)

### ProdID

Controllando il dataframe, ho notato che alcune righe non rappresentano degli acquisti.

In [107]:
# isalpha restituisce True se la stringa contiene solo caratteri dell'alfabeto
df[df['ProdID'].apply(str.isalpha)]['ProdID'].value_counts()

POST    1197
M        460
D         77
DOT       16
CRUK      16
PADS       4
Name: ProdID, dtype: int64

Le righe che hanno come ProdID uno tra quelli elencati sopra non rappresentano degli acquisti, quindi le elimino.

In [108]:
# Elimino le righe che hanno come ProdID una stringa (quindi solo quelle elencate sopra)
df = df[df['ProdID'].apply(lambda s: not s.isalpha())]

Controllo se ci sono delle righe che non rappresentano degli acquisti ma hanno ProdID alfanumerici (lo faccio perchè con la funzione isalpha un ProdID = '123AAA' non sarebbe stato trovato).

In [109]:
import re

# Questa funzione mi restituisce True se la stringa contiene almeno una lettera dell'alfabeto, False altrimenti
def search_letters(the_string):
    if re.search('[a-zA-Z]', the_string) is None:
        return False
    return True

df[df['ProdID'].apply(search_letters)]['ProdID'].value_counts().index.values

array(['85123A', '85099B', '82494L', '85099C', '85099F', '84997D',
       '84970S', '47591D', '15056N', '84596B', '47590B', '47590A',
       '85049E', '84970L', '84997B', '84029E', '84029G', '47566B',
       '84997C', '85014B', '84596F', '15056BL', '84030E', '85049A',
       '85014A', '16161P', '84406B', '47559B', '85049G', '84997A',
       '84536A', '85049C', '46000S', '47504K', '48173C', '47503A',
       '16156S', '85199S', '84596G', '72351B', '51014A', '16169E',
       '35471D', '47599A', '84510A', '85034C', '75049L', '84509A',
       '15056P', '85184C', '72760B', '85040A', '84032B', '72351A',
       '46000M', '16161U', 'C2', '85132C', '47567B', '72807C', '85061W',
       '84971S', '51014C', '84078A', '79066K', '85231B', '84535B',
       '85035C', '82001S', '47599B', '84032A', '51014L', '85183B',
       '85071B', '84849D', '85049D', '85206A', '84536B', '84279P',
       '72800E', '85032A', '15060B', '47593B', '72802C', '85071A',
       '47504H', '85032B', '72349B', '85034B', '84519B', '17091J',
       '85049F', '85032C', '85183A', '85036C', '72807B', '72802B',
       '84596L', '15044A', '79191C', '85035A', '85034A', '85049H',
       '85017B', '15044D', '85071C', '85159B', '72807A', '85231G',
       '85199L', '85071D', '84884A', '85114C', '85185B', '15044C',
       '84459B', '84519A', '84558A', '85132B', '85032D', '84279B',
       '72802A', '85194L', '84459A', '85194S', '84849B', '35004B',
       '85036A', '84520B', '15058A', '85232D', '18097C', '82616C',
       '85170D', '35810A', '85132A', '79030G', '84968A', '85039B',
       '47574A', '85130D', '85114B', '85159A', '82613D', '85135C',
       '84968C', '82616B', '84031A', '85130B', '72799E', '84509B',
       '85169A', '15044B', '79302M', '47310M', '84912B', '82613B',
       '35004C', '17107D', '47563A', '84509G', '84559B', '85130C',
       '17012D', '85036B', '15058B', '84927F', '85035B', '17012C',
       '17012F', '72803A', '84559A', '85114A', '84673B', '35809A',
       '35095B', '84795B', '85039A', '16258A', '85180A', '84912A',
       '85040B', '85186A', '84660A', '85136A', '18098C', '85230B',
       '82613C', '79051A', '84031B', '84926E', '46000R', '79190B',
       '72800B', '85135B', '17012B', '84508A', '84596E', '37482P',
       '79190A', '85186C', '85188A', '47503H', '84341B', '84951A',
       '84569D', '35095A', '85129D', '84993A', '84625C', '84625A',
       '47594B', '17084N', '84849A', '84510C', '84968D', '84951B',
       '84926D', '79030D', '47594A', '85124C', '84926A', '84508B',
       '84859A', '85124B', '85025C', '15058C', '72800C', '84968F',
       '85170C', '72800D', '84660B', '47578A', '84663A', '47518F',
       '85019A', '84507C', '85131A', '84596J', '84660C', '47585A',
       '17084R', '79191B', '84673A', '84531A', '84569A', '35001G',
       '85230G', '16169M', '47570B', '85232A', '84931B', '46000U',
       '84247E', '81952V', '85136C', '35819B', '85019B', '17012A',
       '84707A', '35911A', '85169B', '17091A', '90200B', '84531B',
       '85205B', '35598D', '79190D', '85230E', '35637A', '84926F',
       '84924A', '85170B', '84313C', '90200D', '35599B', '84800L',
       '35810B', '84659A', '84247G', '84509C', '84968E', '71101E',
       '35598B', '84931A', '16161G', '85025B', '85169D', '84563B',
       '85180B', '37479P', '71406C', '84859C', '84876B', '72799F',
       '85169C', '35004G', '16168M', '84535A', '84913B', '84985A',
       '84508C', '17129F', '82011C', '77101A', '84086C', '84806B',
       '35599D', '82011B', '85027L', '51020A', '90200E', '16156L',
       '35912B', '84247N', '85230A', '84898F', '72799C', '85163A',
       '84993B', '17136A', '85179A', '37479B', '84796B', '84989A',
       '85160B', '37489D', '35818P', '90160C', '90200A', '85129B',
       '72225C', '90058B', '51020B', '85163B', '84251B', '84875B',
       '37489A', '84927A', '85232B', '90030B', '79144B', '90161C',
       '84251G', '47021G', '18094C', '47348A', '84708B', '47343A',
       '84925F', '46138B', '72801C', '35915B', '84952B', '84429A',
       '37444A', '82613A', '84741C', '85023B', '90214A', '84563A',
       '79063C', '84507B', '46775D', '84707B', '84927E', '90209C',
       '85131B', '85039C', '17084P', '84313B', '84750B', '17090D',
       '85049B', '90201C', '84597C', '62086A', '84249A', '47593A',
       '90209B', '85230F', '90201B', '84661B', '84876D', 'BANK CHARGES',
       '72801D', '85024B', '90201A', '84800M', '85129C', '90161B',
       '90214K', '85131D', '37489B', '84927D', '90160A', '47341B',
       '84709B', '84661A', '90198B', '90162B', '84569B', '85131C',
       '17013D', '90184B', '85019C', '84712B', '85017C', '47367B',
       '35833P', '79071B', '84806A', '84877D', '72801G', '84859B',
       '82011A', '85130A', '84952C', '47591B', '90198A', '90082A',
       '84846A', '84870B', '84913A', '84706F', '84925D', '84870C',
       '90014A', '47351B', '79063D', '85024C', '84800S', '17090A',
       '90199C', '84247K', '90082B', '90018A', '84796A', '84510E',
       '81950B', '84760S', '90201D', '90160D', '85026B', '79026B',
       '72140E', '84751B', '84086B', '84595E', '17164B', '90161D',
       '35913B', '90214C', '81952B', '84857C', '90019A', '84877B',
       '16169K', '90081A', '85185D', '47013C', '84711B', '84804A',
       '90214E', '85188B', '35915C', '17084J', '84509E', '79191D',
       '90160B', '46776F', '85028S', '90123A', '90030C', '90175A',
       '62096A', '90058A', '90185D', '90003D', '79149B', '84875D',
       '85086A', '84247L', '90016B', '90185C', '47586A', '37489C',
       '90014B', '90184C', '90030A', '90120C', '85031A', '90214G',
       '78034B', '85179C', '17014A', '85018D', '35607B', '90200C',
       '35637C', '17084A', '90063A', '90162C', '90177D', '85168B',
       '85167B', '75013B', '90010E', '17165D', '90214D', '35819P',
       '16162M', '46776B', '84711A', '90195A', '90164B', '16248B',
       '84874B', '90206C', '37444C', '90064B', '81950V', '84952A',
       '90125A', '44089C', '90214H', '90164A', '46776C', '35001W',
       '90210B', '90214S', '84984A', '90205A', '40046A', '46776A',
       '62043B', '90186B', '17011F', '47344B', '90214P', '79144C',
       '84804B', '46126A', '90175C', '90003C', '84910A', '85135A',
       '16162L', '90081C', '90185A', '90129C', '90000A', '90178A',
       '90129B', '44092C', '90161A', '90183A', '90002D', '47369A',
       '16207A', '71495B', '46776E', '84809A', '90210D', '84858C',
       '90123C', '90176D', '90122C', '44092B', '84745A', '35638A',
       '17109D', '90036E', '90010A', '90129F', '81953B', '90214N',
       '84801A', '90180A', '84575A', '90214M', '90210C', '90120B',
       '71496A', '72051S', '35815P', '35916C', '46000P', '90209A',
       '90125D', '90185B', '84984B', '90214J', '90063B', '90162D',
       '90214L', '84534B', '84745B', '90018B', '90196A', '84661C',
       '84597B', '10124A', '47341A', '90124A', '44089A', '90059B',
       '18097A', '84984D', '62074B', '90184A', '90177C', '90059E',
       '90016A', '90000D', '47013A', '90018C', '90036A', '79062D',
       '85206B', '90214R', '35638B', '90013C', '16202E', '37462E',
       '90003B', '90190C', '35910A', '85028L', '90123B', '84798A',
       '90036D', '90124C', '72369A', '35591T', '90059C', '40005B',
       '90013A', '90059F', '90082D', '90196B', '10124G', '71496B',
       '35911B', '90122A', '17012E', '85017A', '90195B', '90180B',
       '90202D', '90067A', '44242B', '90205C', '90060D', '84613A',
       '90001D', '47369B', '35910B', '90211A', '90206A', '46776D',
       '84706D', '90026D', '90214V', '84801B', '72024U', '90125B',
       '90142D', '90065A', '84803B', '90214I', '84924F', '62094B',
       '90152A', '35809B', '37488A', '90202C', '79157V', '90186A',
       '16207B', '90024B', '90014C', '35916A', '84402B', '90214Y',
       '90124B', '37444B', '16151A', '84805A', '90199A', '90010B',
       '90003E', '84750A', '90202B', '84805B', '79323B', '90129A',
       '84206A', '90211B', '79323P', '81953P', '90125C', '84872A',
       '72798C', '44091A', '10123C', '90130B', '90040C', '35818B',
       '62097B', '90210A', '35909A', '90064A', '90019C', '90123D',
       '35271S', '90000B', '90040B', '90202A', '90011B', '90036B',
       '16244B', '84798B', '90026B', '90176A', '90141B', '90012A',
       '90040A', '90212C', '90039D', '84251C', '90189A', '17191A',
       '47556B', '90214B', '79157B', '90025A', '90036C', '90199D',
       '35597D', '90059A', '16202A', '90120D', '35909B', '84415A',
       '84201B', '85136B', '35598A', '90179A', '90141C', '84206C',
       '90012B', '90026C', '90177A', '35816P', '17007B', '16169P',
       '90035A', '90182C', '16206B', '79192A', '16020C', '90059D',
       '90176E', '84857B', '71495A', '90019B', '79161A', '90001C',
       '35598C', '46115B', '35817P', '84732D', '90214F', '84415B',
       '84968B', '90042A', '47574B', '90175D', '84873A', '84562A',
       '84732B', '90129D', '16202B', '90177E', '90141A', '90001B',
       '90163A', '90177B', '79151B', '37487B', '84802A', '90027D',
       '84613C', '85031B', '44242A', '16161M', '90065B', '90162A',
       '84705C', '35004P', '35610A', '90036F', '90187B', '35610C',
       '90179C', '35597B', '84963B', '90129E', '90199B', '90039A',
       '90152B', '90152C', '37491B', '90024D', '85098B', '84206B',
       '90060B', '90038A', '90026A', '37379A', '90130A', '16169N',
       '85023C', '90181A', '90212B', '84856S', '90038B', '85170A',
       '90011A', '90141E', '90178B', '90125E', '90214U', '37491D',
       '90197B', '90190A', '90214T', '90165B', '62096B', '90141D',
       '90038C', '84201C', '90183C', '37491C', '84743C', '17028J',
       '90037B', '90024F', '90163B', '84877A', '90025F', '84614A',
       '84963A', '90039B', '90128B', '90039C', '85031C', '84802B',
       '47503J', '90214Z', '90176C', '90122B', '35607A', '35916B',
       '90176B', '90190B', '84795C', '84387A', '35610B', '90214O',
       '90035C', '35597A', '90214W', '90001A', '79323W', '90027A',
       '84809B', '84569C', '90024C'], dtype=object)

Tra i ProdID c'è 'C2', che non rappresenta un acquisto, ma probabilmente una spesa addizionale di spedizione. Quindi elimino le righe in cui ProdID = 'C2.

In [110]:
df[df['ProdID'] == 'C2'].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
1422,536540,01/12/10 14:05,50,14911.0,EIRE,C2,CARRIAGE,1
10319,537368,06/12/10 12:40,50,14911.0,EIRE,C2,CARRIAGE,1
10652,537378,06/12/10 13:06,50,14911.0,EIRE,C2,CARRIAGE,1

In [111]:
df.drop(df[df['ProdID'] == 'C2'].index, inplace=True)

Tra i ProdID c'è 'BANK CHARGES' che non rappresenta un acquisto, quindi elimino le righe in cui ProdID = 'BANK CHARGES'

In [112]:
df.drop(df[df['ProdID'] == 'BANK CHARGES'].index, inplace=True)

### ProdDescr

Controllo se ci sono ancora delle descrizioni = NaN.

In [116]:
print("Numero di righe con descrizione NaN: ", df[df['ProdDescr'].isnull()].shape[0])

Numero di righe con descrizione NaN:  0

### BasketDate

Controllo che tutti i valori della colonna BasketDate siano delle stringhe che rappresentano correttamente delle date.

In [117]:
from dateutil.parser import parse

# Questa funzione controlla se la stringa presa in input rappresenta correttamente una data
def is_date(string, fuzzy=False):
    try: 
        parse(string, fuzzy=fuzzy)
        return True

    except ValueError:
        return False

# Controllo se tutte i valori di BasketDate sono delle date valide
print(df['BasketDate'].apply(is_date).value_counts())

True    399689
Name: BasketDate, dtype: int64

Tutti i valori rappresentano delle date. Ora controllo se questi valori sono scritti nello stesso formato.

In [118]:
import datetime

def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%d/%m/%y %H:%M')
        return True
    except ValueError:
        return False
    
print(df['BasketDate'].apply(validate).value_counts())

True    399689
Name: BasketDate, dtype: int64

Tutti i valori sono scritti seguendo lo stesso formato (giorno/mese/anno ora:minuto). Infine, converto tutte queste stringhe in formato datetime.

In [119]:
df['BasketDate'] = pd.to_datetime(df['BasketDate'], format="%d/%m/%y %H:%M")

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399689 entries, 0 to 471908
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BasketID         399689 non-null  object
 1   BasketDate       399689 non-null  datetime64[ns]
 2   Sale             399689 non-null  object
 3   CustomerID       399689 non-null  float64
 4   CustomerCountry  399689 non-null  object
 5   ProdID           399689 non-null  object
 6   ProdDescr        399689 non-null  object
 7   Qta              399689 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 27.4+ MB

### Sale

I valori della colonna Sale sono delle stringhe che rappresentano dei float, dove al posto del punto è stata usata la virgola.

In [121]:
# Questa funzione converte una stringa nel rispettivo float (3,5 --> 3.5)
def convert_to_float(s):
    comma_pos = s.find(',')
    if comma_pos >= 0:
        s = s[: comma_pos] + '.' + s[comma_pos+1 :]
    return float(s)

df['Sale'] = df['Sale'].apply(convert_to_float)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 399689 entries, 0 to 471908
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   BasketID         399689 non-null  object
 1   BasketDate       399689 non-null  datetime64[ns]
 2   Sale             399689 non-null  float64
 3   CustomerID       399689 non-null  float64
 4   CustomerCountry  399689 non-null  object
 5   ProdID           399689 non-null  object
 6   ProdDescr        399689 non-null  object
 7   Qta              399689 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.4+ MB

Tutte i valori della colonna Sale sono stati convertiti con successo a float64.

Controllo se ci sono delle righe con Sale $\leq$ 0.

In [135]:
df[df['Sale'] <= 0].head(3)

Empty DataFrame
Columns: [BasketID, BasketDate, Sale, CustomerID, CustomerCountry, ProdID, ProdDescr, Qta]
Index: []

In [129]:
print("Numero di righe con Sale <= 0: ", df[df['Sale'] <= 0].shape[0])

Numero di righe con Sale <= 0:  33

In [131]:
print("Numero di righe con Sale = 0: ", df[df['Sale'] == 0].shape[0])

Numero di righe con Sale = 0:  33

Non ci sono righe con Sale < 0. Mentre le righe con Sale = 0 potrebbero riferirsi a dei prodotti omaggio. Io sono interessato agli acquisti, quindi posso eliminare queste righe.

In [133]:
df.drop(df[df['Sale'] == 0].index, inplace=True)

### CustomerCountry

Dal df.info() iniziale si vede che non ci sono valori di CustomerCountry = NaN. Tuttavia, ci sono delle righe con CustomerCountry = 'Unspecified'.

In [66]:
print("Righe con CustomerCountry = 'Unspecified': ", df[df['CustomerCountry'] == 'Unspecified'].shape[0])

Righe con CustomerCountry = 'Unspecified':  244

In [137]:
df[df['CustomerCountry'] == 'Unspecified'].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
128523,549687,2011-04-11 13:29:00,7.95,12363.0,Unspecified,20685,DOORMAT RED RETROSPOT,2
128524,549687,2011-04-11 13:29:00,7.95,12363.0,Unspecified,22691,DOORMAT WELCOME SUNRISE,2
128525,549687,2011-04-11 13:29:00,7.95,12363.0,Unspecified,48116,DOORMAT MULTICOLOUR STRIPE,2

CustomerCountry = 'Unspecified' potrebbe essere un valore corretto, in quanto l'utente in fase di acquisto non ha voluto specificare lo stato in cui abita (ad esempio per motivi di privacy) e quindi lascio questi valori nel dataframe.

### Qta e BasketID

Controllo se ci sono delle righe che hanno Qta $\leq$ 0.

In [146]:
print("Numero di righe con Qta <= 0: ", df[df['Qta'] <= 0].shape[0])

Numero di righe con Qta <= 0:  8506

In [147]:
print("Numero di righe con Qta <= 0: ", df[df['Qta'] < 0].shape[0])

Numero di righe con Qta <= 0:  8506

Non ci sono righe con Qta = 0.

In [148]:
df[df['Qta'] < 0].head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
154,C536383,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,35004C,SET OF 3 COLOURED FLYING DUCKS,-1
235,C536391,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,22556,PLASTERS IN TIN CIRCUS PARADE,-12
236,C536391,2010-12-01 10:24:00,0.29,17548.0,United Kingdom,21984,PACK OF 12 PINK PAISLEY TISSUES,-24

Controllo se tutte le righe con Qta negativa hanno il BaskeID che inizia con la lettera C.

In [141]:
import re

# Questa funziona mi restituisce True se la stringa presa in input contiene un carattere dell'alfabeto, False altrimenti.
def search_letters(the_string):
    if re.search('[a-zA-Z]', the_string) is None:
        return False
    return True

df[df['Qta'] <= 0]['BasketID'].apply(search_letters).value_counts()

True    8506
Name: BasketID, dtype: int64

Tutte le righe con Qta negativa hanno BasketID che inizia con la lettera C. Queste righe sembrano rappresentare degli ordini annullati o dei rimborsi.

In [ ]:
# GESTIRE I RIMBORSI!!!!!!

### BasketID

BasketID sono di tipo object, quindi controllo se ci sono BasketID alfanumerici. Inoltre da df.info() si nota che non ci sono BasketID = NaN.

In [68]:
import re
# Questa funziona mi restituisce True se la stringa presa in input contiene un carattere dell'alfabeto, False altrimenti.
def search_letters(the_string):
    if re.search('[a-zA-Z]', the_string) is None:
        return False
    return True

# Salvo sul dataframe tmp le righe (del dataframe df) che hanno BasketID alfanumerico
tmp = df[df['BasketID'].apply(search_letters)]
print("Numero di righe che hanno BaskedID alfanumerico:", tmp.shape[0])

Numero di righe che hanno BaskedID alfanumerico: 8539

In [69]:
tmp.head(3)

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
154,C536383,2010-12-01 09:49:00,"4,65",15311.0,United Kingdom,35004C,SET OF 3 COLOURED FLYING DUCKS,-1
235,C536391,2010-12-01 10:24:00,"1,65",17548.0,United Kingdom,22556,PLASTERS IN TIN CIRCUS PARADE,-12
236,C536391,2010-12-01 10:24:00,"0,29",17548.0,United Kingdom,21984,PACK OF 12 PINK PAISLEY TISSUES,-24

Le righe in cui BasketID inizia con la lettera C sembrano rappresentare una cancellazione di un ordine, ossia una rimborso.
Prima di gestire tali rimborsi controllo se ci sono altre righe che hanno BasketID alfanumerico, ma senza la lettera 'C'.

In [70]:
def search_letters_not_C(the_string):
    if re.search('[a-zA-Z]', the_string) is None:
        return False
    elif re.search('[C]', the_string) is None:
        return True
    return False

tmp[tmp['BasketID'].apply(search_letters_not_C)]

Empty DataFrame
Columns: [BasketID, BasketDate, Sale, CustomerID, CustomerCountry, ProdID, ProdDescr, Qta]
Index: []

Queste due righe hanno CustomerID = NaN. Provo a cercare se all'interno del dataset ci sono altre righe aventi lo stesso BasketID per provare recuperare il valore di CustomerID (se due righe hanno lo stesso BasketID allora hanno anche lo stesso CustomerID).

In [71]:
df[(df['BasketID'] == 'A563186') | (df['BasketID'] == 'A563187')]

Empty DataFrame
Columns: [BasketID, BasketDate, Sale, CustomerID, CustomerCountry, ProdID, ProdDescr, Qta]
Index: []

Ritrovo solo le due righe con BasketID = NaN, quindi non posso recuperare il CustomerID e le elimino.

In [72]:
# Elimino le due righe dal dataframe df
df = df[(df['BasketID'] != 'A563186') & (df['BasketID'] != 'A563187')]
# Elimino le due righe dal dataframe tmp, lo faccio perché uso tmp anche dopo
tmp = tmp[(tmp['BasketID'] != 'A563186') & (tmp['BasketID'] != 'A563187')]

Per gestire i rimborsi, devo prima toglierli dal dataframe df.

In [73]:
# Elimino le righe che contengono delle lettere nel BasketID, osssia tutti i rimborsi (tanto sono salvati sul dataframe tmp)
df = df[df['BasketID'].apply(lambda x: not search_letters(x))]

In [74]:
print("Numero di rimborsi: ", tmp.shape[0])

Numero di rimborsi:  8539

Occorre ora gestire i rimborsi, ossia le righe del dataframe tmp. I rimborsi vengono gestiti facendo le seguenti assunzioni:
* Per ogni ordine è possibile richiedere al massimo un rimborso.
* Un rimborso può essere applicato ad un ordine solo se la data dell'ordine è antecedente a quella del rimborso, il codice prodotto è lo stesso, il codice cliente è lo stesso e la quantità di oggetti presente nell'ordine è maggiore o uguale alla quantità in valore assoluto degli oggetti indicata nel rimborso.
* Dato un rimborso, se all'interno del dataset non è presente un ordine antecedente a quel rimborso, allora il rimborso non viene considerato.
* Dato un ordine, se ci sono più rimborsi applicabili a questo ordine, si applica quello con la quantità di oggetti in valore assoluto maggiore. Se ci sono due o più rimborsi con la stessa quantità ne uso uno tra questi.

In [75]:
"""
def update(row, tmp):
    basket_date = pd.to_datetime(row['BasketDate'])
    customer_id = row['CustomerID']
    prod_id = row['ProdID']
    qta = row['Qta']
    r = tmp[(tmp['ProdID'] == prod_id) & (tmp['CustomerID'] == customer_id) & (pd.to_datetime(tmp['BasketDate']) >= basket_date) & (abs(tmp['Qta']) <= qta )]
    if r.shape[0] <= 0:
        return row
    qta_min = r['Qta'].min()
    # Mi interessano solo i rimborsi che hanno Qta = qta_min e tra questi prendo il primo che trovo
    rimborso = r[r['Qta'] == qta_min].iloc[0]
    basket_id_rimborso = rimborso['BasketID']
    prod_id_rimborso = rimborso['ProdID']
    qta_rimborso = rimborso['Qta']
    # Elimino da tmp la riga che corrisponde a rimborso
    tmp.drop(tmp[(tmp['BasketID'] == basket_id_rimborso) & (tmp['ProdID'] == prod_id_rimborso)].index[0], inplace=True)
    # Aggiorno il valore di Qta
    row['Qta'] = qta + rimborso['Qta']
    print(tmp.shape[0])
    return row
    
prova = df.apply(lambda row: update(row, tmp), axis=1)
"""

"\ndef update(row, tmp):\n    basket_date = pd.to_datetime(row['BasketDate'])\n    customer_id = row['CustomerID']\n    prod_id = row['ProdID']\n    qta = row['Qta']\n    r = tmp[(tmp['ProdID'] == prod_id) & (tmp['CustomerID'] == customer_id) & (pd.to_datetime(tmp['BasketDate']) >= basket_date) & (abs(tmp['Qta']) <= qta )]\n    if r.shape[0] <= 0:\n        return row\n    qta_min = r['Qta'].min()\n    # Mi interessano solo i rimborsi che hanno Qta = qta_min e tra questi prendo il primo che trovo\n    rimborso = r[r['Qta'] == qta_min].iloc[0]\n    basket_id_rimborso = rimborso['BasketID']\n    prod_id_rimborso = rimborso['ProdID']\n    qta_rimborso = rimborso['Qta']\n    # Elimino da tmp la riga che corrisponde a rimborso\n    tmp.drop(tmp[(tmp['BasketID'] == basket_id_rimborso) & (tmp['ProdID'] == prod_id_rimborso)].index[0], inplace=True)\n    # Aggiorno il valore di Qta\n    row['Qta'] = qta + rimborso['Qta']\n    print(tmp.shape[0])\n    return row\n    \nprova = df.apply(lambda row: update(row, tmp), axis=1)\n"

Dopo aver applicato i rimborsi, bisogna togliere dal dataframe df tutti gli ordini che hanno Qta = 0, ossia il cliente ha mandato indietro tutti i prodotti che aveva acquistato, annullando quindi l'ordine.

In [76]:
df.drop(df[df['Qta'] == 0].index, inplace=True)

Nel dataframe df tutti i valori di BasketID sono delle stringhe che contengono solo numeri, quindi posso convertirle in interi.

In [77]:
df['BasketID'] = df['BasketID'].astype("int64")